<%- include('partials/header') -%>
<div class="container">
  <h1>Home</h1>
  <p><%= startContent %></p>
  <% if(posts.length>0){ posts.forEach(element => { %>
  <h1><%= element.title %></h1>
  <p><%= element.content %></p>

  <% }); } %>
</div>

<%- include('partials/footer') -%>
